<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVCsample</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.Ian.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckTimes</display-name>
    <servlet-name>CheckTimes</servlet-name>
    <servlet-class>org.Ian.Servlet.CheckTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTimes</servlet-name>
    <url-pattern>/CheckTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QianDao</display-name>
    <servlet-name>QianDao</servlet-name>
    <servlet-class>org.Ian.Servlet.QianDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QianDao</servlet-name>
    <url-pattern>/QianDao</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>org.Ian.Servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>  
</web-app>